<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center> 
        <h1>welcome to  my blog </h1>
        <img src="https://www.bing.com/images/search?view=detailV2&ccid=kWZkFQYn&id=AA87B2B8A1F3E03ECCD58321FEA77CAE28AEFCFE&thid=OIP.kWZkFQYnLVmz_iTp-H7-GAHaCx&mediaurl=https%3a%2f%2fdocimage.paarquivos.com.br%2fdocimage%2fassets%2fimg%2fcertificado_digital_ses.png&exph=229&expw=612&q=docimage&simid=608001901888486994&FORM=IRPRST&ck=2EE824D087175F14BE8FA06CC6EF151E&selectedIndex=2&itb=1" alt="nan">
    </center>
</body>
</html>